@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
/*
@font-face{
    font-family: 'Droid Serif';
    src: url('./fonts/Droid_Serif/DroidSerif-Regular.ttf');
}
@font-face{
    font-family: 'Yanone Kaffeesatz';
    src: url('./fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}
@font-face{
    font-family: 'Ubuntu Mono';
    src: url('./fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}
*/

.red { color: #f44141; }
.blue { color : #4286f4; }
.green { color: #41f488; }

body {
    font-family: 'Droid Serif';
    color: #3d4044;
}

/* Headers */
h1, h2, h3, h4 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    color: #6f8fc4;
}

h3, h4 {
    color: #acb4c1;
    margin-bottom: 0;
}

h1 { font-size: 3em !important; }
h2 { font-size: 2em !important; }
h3 { font-size: 1.5em !important; }
h4 { font-size: 1em !important; }

.large-font {
    font-size: 1.5em;
}

.small-font {
    font-size: 0.8em;
}

.very-small-font {
    font-size: 0.7em;
}

.tight {
    line-height: 0.5em;
}

.footnote {
    position: absolute;
    bottom: 2em;
    font-size: 0.8em !important;
    line-height: 0.5em;
    color: #61646b;
}

blockquote p {
    font-style: italic;
    background-color: #c4daff;
}

/* Center tables by default */
table {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border: 0px solid #acb4c1;
}

table, td {
    padding: 0;
    text-align: center;
    padding: 0.2em;
}

table th {
    color: #6f8fc4;
    padding: 0.4em;
}

table, th, td {
}

button {
    min-width: 30px !important;
    min-height: 30px !important;
    color: #3d4044;
    border: none;
    text-align: center;
    background-color: #c4daff;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
    color: #f44141;
}

.remark-slide-content {
    background-color: white;
    padding-top: 0em;
}
.remark-container {
}
.vertically-centered {
    height: 100%;
    text-align: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-bottom: 0em;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

a {
    color: #61646b;
    border-bottom: 1px dotted #a0d6b5;
    text-decoration: none;
}

a:visited { color: #61646b; }

.underline {
    text-decoration: underline;
}

/* Images */
img {
    max-width: 100%;
}

.caption {
    display: block;
    font-size: 0.8em;
    color: #61646b;
    margin: 0 auto;
}

/* Bullet points */
ul > li {
  list-style: circle;
}

li {line-height: 1.5em;}

.centered-list { text-align: center; }
.centered-list ul { display:inline-table; }
.centered-list li { text-align: left; }

/*
 * None general
 * My fist image
 */

div.button-row {
    margin-left: 22%;
    width: 80%;
}
div.button-row > button{
    width: 165px;
    height: 40px;
}

.images{
    text-align:center;
    margin:50px auto;
}

.images a {
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
}
